form {
  display: block;
  width: 500px;
  height: 500px;
  border: solid 1px black;

  .viewport-page {
    position: relative;
    width: 500px;
    height: 200px;

    .container-page {
      display: flex;
      width: 2000px;
      position: absolute;
      left: -0px;
  
      .page {
        width: 500px;
        height: 200px;
      }
    }
  }

  .container-action {
    .btn-back,
    .btn-confirm {
      display: none;
    }
  }
}
