.page-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;

      label {
        font-size: var(--font-size-s);
        font-weight: 500;
      }

      .error {
        font-size: var(--font-size-s);
        color: var(--strawberry-red);
        font-weight: 700;
      }
    }

    input {
      font-family: inherit;
      font-size: 1rem;
      text-indent: 1rem;
      border: var(--light-gray) 1px solid;
      background-color: transparent;
      padding: 0.75rem 0;
      border-radius: 4px;

      &:focus {
        outline: var(--marine-blue) 1px solid;
        outline-offset: -1px;
      }

      &::placeholder {
        font-weight: 500;
        color: var(--cool-gray);
      }
    }

    .input-error {
      outline: var(--strawberry-red) 1px solid;
      outline-offset: -1px;
    }
  }
}