.page-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    display: flex;
    flex-direction: column;

    label {
      font-size: var(--font-size-s);
      font-weight: 500;
      margin-bottom: 4px;
    }

    input {
      font-family: inherit;
      font-size: 1rem;
      text-indent: 1rem;
      border: var(--light-gray) 1px solid;
      background-color: transparent;
      padding: 0.75rem 0;
      border-radius: 4px;

      &::placeholder {
        // font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: var(--cool-gray);
      }
    }
  }
}